@page "{id}"
@model dnd.Pages.Rooms
@{
    var id = RouteData.Values["id"].ToString();
    var room = Model.GetRoom(id);
}
<h1>@room.Name</h1>
<form method="post" asp-page-handler="toggle"
      asp-route-id="@RouteData.Values["id"]"
      asp-route-inCombat="@room.InCombat">
    @if (room.InCombat)
    {
        <button class="btn btn-danger">End Combat</button>
    }
    else
    {
        <button class="btn btn-success">Begin Combat</button>
    }
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Character</th>
        <th scope="col">Player</th>
        <th scope="col">Dex</th>
        <th scope="col">Initiative</th>
        <th scope="col"/>
    </tr>
    </thead>
    <tbody>
    @foreach (var character in @room.Characters.OrderBy(c => c.TurnNumber).ThenByDescending(c => c.Initiative))
    {
        <tr>
            <td>@character.Name</td>
            <td>@character.User.Name</td>
            <td>@character.Dex</td>
            <td>@character.Initiative</td>
            <td>
                <form method="post" asp-page-handler="turnTaken"
                      asp-route-roomId="@room.Id"
                      asp-route-characterId="@character.Id">
                    <button class="btn btn-sm btn-info">✔</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>